{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<style>
    html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #3C4040 !important;
		}
		body {
  background: #3C4040 !important;
    font-family:sans-serif;
    color: gray;
    margin-top: 35px;
}
</style>

<div style="margin: auto; width:80%; padding:100px;color:white;">
    <h6>This is a demo project built from scratch by <strong style="color:lightblue;">Ammar Sahyoun</strong> on August
        12, 2021.</h6>
    <h6> Sign up to get more managing privileges on the site </h6>
</div>


{% endblock %}


