{% extends "base.html" %}

{% block title %}New Car{% endblock %}
{% block content %}

<style>
    html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #3C4040 !important;
		}
		body {
  background: #3C4040 !important;
    font-family:sans-serif;
    color: gray;
    margin-top: 35px;
}
</style>

<div style="width:800px; margin:0 auto; padding:50px; margin-top: 85px;">
    <h3> Add a new car</h3>
    <form method="post">
        <table>
            {{ form }}
        </table>
        {% csrf_token %}
        <button type="submit">Add</button>
    </form>
</div>

{% endblock %}