body {
    font-family:sans-serif;
    color: gray;
    margin-top: 35px;
}

.body{

    margin:0 auto;
    background: #3C4040 !important;
    padding: 50px;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #3C4040 !important;
		}

.hello{
    font-size : 18px;
    color: #fff;
    margin-left: 10px

}